/.idea/
.gradle/
/*/.gradle/
target/
*/target/
out/
*/out/
*/*/out/
*.iml
/*/*.iml
/*/*/*.iml
build
/*/build
/*/*/build
.classpath
.project
/.settings/
/bin/

*/.classpath
*/.project
*/.settings/
*/bin/
*/.gitignore
*.log